<div class="text-white text-center" style="margin: 1vh;">
    <h1>Email này đã Vertify</h1>
    <a href="@Url.ActionLink("Index", "Home")" style="text-decoration: none;"> <button style="background-color: green; border: none; padding:1vh; border-radius: 1vw; font-weight: 500; color: white;">Trở về trang Homepage</button></a>
</div>