
@{
    ViewData["Title"] = "EventCreated";
    Layout = "~/Views/Shared/_CreateEventLayout.cshtml";
}
<style>
    .segment-control {
        width: 550px;
        box-sizing: border-box;
        margin: 0;
        padding: 2px;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        line-height: 1.5714285714285714;
        list-style: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        display: inline-block;
        background: #f5f5f5;
        border-radius: 6px;
        transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    .ant-segmented-item {
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        border-radius: 4px;
        transform: translateZ(0);
        flex: 1;
        min-width: 0;
    }

    .ant-segmented-item-input {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }

    .ant-segmented-item::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        inset-inline-start: 0;
        border-radius: inherit;
        transition: background-color 0.2s;
        pointer-events: none;
    }

    .ant-segmented-item-label {
        min-height: 36px;
        line-height: 36px;
        padding: 0 11px;
        font-size: 16px;
    }

    .ant-segmented .ant-segmented-item-label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .search-bar {
        flex: auto;
        padding: 0px 16px;
    }

    .ant-segmented-group {
        position: relative;
        display: flex;
        align-items: stretch;
        justify-items: flex-start;
        flex-direction: row;
        width: 100%;
    }

    .ant-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        min-width: 0;
    }

    .ant-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<header id="header" class="w-100 d-flex align-items-center h-auto" style="position: fixed; top: 0; left: 345px; right: 0; z-index: 100; background-color: rgb(45, 194, 117);">
    <nav id="desktop" class="navbar navbar-expand-md navbar-toggleable-sm navbar-light">
        <div class="container-fluid" style="margin-left: 100px;">
            <a class="navbar-brand text-white fs-3" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: 500;">Sự kiện đã tạo</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-2">
                    <li id="search_bar" class="nav-item" style="margin-right: 5vw; margin-left: 5vw;">
                        <div class="input-group">
                            <div class="form-outline" data-mdb-input-init>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="mobile" class="d-none navbar navbar-expand-lg navbar-toggleable-lg bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white fs-2" style="font-weight:500;" asp-area="" asp-controller="Home" asp-action="Index">Ticket Box</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="White" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-2">
                    <li id="search_bar" class="nav-item" style="margin-right: 5vw; margin-left: 5vw;">
                        <div class="input-group">
                            <div class="form-outline" data-mdb-input-init>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="ant-layout-content">
    <div class="ant-row" style="margin-top: 48px; flex: auto; color: rgba(0, 0, 0, 0.88); min-height: 0; z-index: 7;padding: 24px; flex: 1 0 30%;">
        <div class="ant-col search-bar">
            <input type="text" placeholder="Tìm kiếm sự kiện" style="
                            width: 100%;
                            height: 40px;
                            border-start-start-radius: 6px;
                            border-end-start-radius: 6px;
                            color: rgba(0, 0, 0, 0.88);
                            padding: 7px 11px;
                            font-size: 16px;
                            line-height: 1.5;
                            border: 1px solid rgba(0, 0, 0, 0.15);
                        ">
            <button class="search-button" style="width: 40px; height:40px;border-start-end-radius: 6px;
                            border-end-end-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.15);">
                <i class="fa-solid fa-magnifying-glass" style="color: rgba(0, 0, 0, 0.45);"></i>
            </button>
        </div>

        <div class="ant-col segment-control" role="group" aria-label="Segmented Group" style="flex: 1 0 50%;">
            <div class="ant-segmented-group">
                <label class="ant-segmented-item">
                    <input class="ant-segmented-item-input" type="radio">
                    <div class="ant-segmented-item-label" title="Tất cả" role="option" aria-selected="false">Tất cả</div>
                </label>
                <label class="ant-segmented-item ant-segmented-item-selected">
                    <input class="ant-segmented-item-input" type="radio" checked>
                    <div class="ant-segmented-item-label" title="SẮP DIỄN RA" role="option" aria-selected="true">SẮP DIỄN RA</div>
                </label>
                <label class="ant-segmented-item">
                    <input class="ant-segmented-item-input" type="radio">
                    <div class="ant-segmented-item-label" title="ĐÃ QUA" role="option" aria-selected="false">ĐÃ QUA</div>
                </label>
                <label class="ant-segmented-item">
                    <input class="ant-segmented-item-input" type="radio">
                    <div class="ant-segmented-item-label" title="CHỜ DUYỆT" role="option" aria-selected="false">CHỜ DUYỆT</div>
                </label>
                <label class="ant-segmented-item">
                    <input class="ant-segmented-item-input" type="radio">
                    <div class="ant-segmented-item-label" title="NHÁP" role="option" aria-selected="false">NHÁP</div>
                </label>
            </div>
        </div>
    </div>

</main>

