@{
    ViewData["Title"] = "Upload Sự Kiện";
}

<form method="post" action="@Url.Action("CreateTicket", "CreateEvent")" enctype="multipart/form-data">
    <div class="container py-5">
    <div class="row g-4">
        <div class="col-md-12">
            <div class="border rounded-3 p-4 text-center bg-dark text-white">
                <label id="label_event" for="event-background" class="form-label d-block">
                    <i class="bi bi-upload display-4"></i>
                    <p class="mb-1">Thêm ảnh nền sự kiện</p>
                    <small>(1280x720)</small>
                </label>
                <input id="event-background" type="file" class="form-control d-none" name="event_img" onchange="previewImg(event)"/>
                <img id="profileImg" src="" class="d-none" alt="EventImg" style="object-fit: contains; width: 100%; height: 100%;"/>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <label for="event-name" class="form-label text-black"><h3>Tên sự kiện</h3></label>
        <input id="event-name" name="event_name" type="text" maxlength="100" class="form-control" placeholder="Tên sự kiện" required/>
    </div>
</div>

<div class="container py-5">
    <h3>Thông tin về địa chỉ</h3>
    <div class="row g-4">
        <div class="col-md-6">
            <label for="event-location" class="form-label text-black">Tên địa điểm cụ thể <span class="text-danger">*</span></label>
            <input id="event-location" name="event_location" type="text" class="form-control" placeholder="Tên địa điểm" maxlength="80" />
        </div>
        <div class="col-md-6">
            <label for="event-location" class="form-label text-black">Ghi chú</label>
            <input id="event-note" name="event_note" type="text" class="form-control" placeholder="Ghi chú về địa điểm" maxlength="80" />
        </div>
            <div class="col-md-6 mb-3">
                <label for="StartTime" class="form-label">Thời gian bắt đầu</label>
                <input type="datetime-local" class="form-control" id="StartTimeEvent" name="StartTimeEvent" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="StartTime" class="form-label">Thời gian kết thúc</label>
                <input type="datetime-local" class="form-control" id="EndTimeEvent" name="EndTimeEvent" required>
            </div>
    </div>
</div>

    <div class="container py-5">
        <h3>Thông tin về sự kiện</h3>
        <div class="row g-4">
            <div class="col-md-12">
                <textarea id="ngonEditor" name="description" class="form-control"></textarea>
            </div>
    </div>

<div class="container py-5" id="ticket_container">
    <h2 class="text-center mb-4">Thêm Vé</h2>
    <div class="row ticket-item" style="background-color: #f0f0f0; padding: 3vh; border-radius: 10px; margin: 2vh;">
        <div class="col-md-6 mb-3">
            <label for="TicketType" class="form-label">Loại vé</label>
            <input type="text" class="form-control" id="TicketType" name="TicketType" placeholder="Normal, VIP..." required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="Price" class="form-label">Giá vé</label>
            <input type="number" class="form-control" id="Price" name="Price" placeholder="Nhập giá vé" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="SeatNumber" class="form-label">Số ghế</label>
            <input type="number" class="form-control" id="SeatNumber" name="SeatNumber" placeholder="Nhập số ghế" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="StartTime" class="form-label">Thời gian bắt đầu</label>
            <input type="datetime-local" class="form-control" id="StartTime" name="StartTime" readonly>
        </div>
    </div>
    <div class="text-center">
            <button type="button" class="btn btn-success btn-lg" id="addTicketBtn" style="width: 100%;">Thêm Vé</button>
    </div>
</div>



<div class="container py-5">
        <button type="submit" class="btn btn-success btn-lg" style="width: 100%;">Submit</button>
</div>
</form>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function previewImg(event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                let label = document.getElementById("label_event");
                label.classList.remove("d-block");
                label.classList.add("d-none")
                

                let img = document.getElementById('profileImg');
                img.src = e.target.result;
                img.classList.remove("d-none");
                console.log("ahihi")
            };
            reader.readAsDataURL(file);
        }
    }

    document.getElementById("addTicketBtn").addEventListener("click", () => {
        const ticketTemplate = document.querySelector(".ticket-item");
        const newTicket = ticketTemplate.cloneNode(true);

        const inputs = newTicket.querySelectorAll("input");
        inputs.forEach(input => {
            input.value = '';
        });

        document.getElementById("ticket_container").appendChild(newTicket);
        const addTicketBtn = document.getElementById("addTicketBtn");
        document.getElementById("ticket_container").appendChild(addTicketBtn);

        let startTimeTicket = document.querySelectorAll('[name="StartTime"]');
        const timeEvent = document.getElementById("StartTimeEvent").value;
        startTimeTicket.forEach(item => {
            item.value = timeEvent;
        })
    });

    document.getElementById("StartTimeEvent").addEventListener("change", () => {
        let startTimeTicket = document.querySelectorAll('[name="StartTime"]');
        const timeEvent = document.getElementById("StartTimeEvent").value;
        startTimeTicket.forEach(item => {
            item.value = timeEvent;
        })
    });

</script>
