
.TabList{
    margin: 16px 8px 0px ;
}
.TabItem{
    margin:0 2px 0;
    width: 100px;
    height: 29px;
}
.headerContainer{
    display: none;
}
.divider{
    display: none;
}
@media (min-width: 740px) and (max-width: 1023px){
    .headerContainer{
        display: block;
        margin-bottom: 16px;
    }
    .TabList{
        margin: 16px 0px 0px ;
        width: 100%;
    }
    .TabItem{
        margin:0 2px 0;
        width: 210px;
        height: 29px;
    }
    .divider{
        display: block;
    }
    .NavigationMobile{
        display: none;
    }
}
@media (min-width: 1024px) and (max-width: 2560px) {
    .headerContainer{
        display: block;
        margin-bottom: 16px;
    }
    .TabList{
        width: 100%;
        margin: 16px 0px 0px ;
    }
    .TabItem{
        margin:0 2px 0;
        width: 210px;
        height: 29px;
    }
    .divider{
        display: block;
    }
    .NavigationMobile{
        display: none;
    }
}