@model Do_an_ticket_box.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLoginLayout.cshtml";
}

<!-- Resigester form -->
<div class="account-container">
    <div id="registerForm" class="js-register-form auth-form__register-form auth-form">
        <div class="auth-form__container js-modal-container">
            <div class="auth-form__header">
                <div class="auth-form__heading">
                    <p>Đăng ký tài khoản</p>
                </div>
                <a asp-controller="Home" asp-action="Index" class="auth-form__close-register js-modal-close">
                    <svg class="svgIcon" style="position: absolute;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </a>

            </div>
            <form asp-action="Register" method="post" class="auth-form__form">
                <div class="auth-form__group">
                    <input asp-for="Email" type="email" class="form-input-control auth-form__input " placeholder="Nhập email của bạn">
                    <span asp-validation-for="Email" class="form-message"></span>
                </div>
                <!-- Email Input -->
                <div class="auth-form__group">
                    <input asp-for="Password" type="password" class="form-input-control auth-form__input" placeholder="Nhập mật khẩu của bạn" />
                    <span asp-validation-for="Password" class="form-message"></span>
                </div>
                <div class="auth-form__group">
                    <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-input-control auth-form__input" placeholder="Nhập lại mật khẩu của bạn">
                    <span asp-validation-for="ConfirmPassword" class="form-message"></span>
                </div>
                <div class="auth-form__aside">
                    <p class="auth-form__policy-text">
                        Bằng việc tiếp tục, bạn đã đọc và đồng ý với
                        <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> &
                        <a href="" class="auth-form__text-link">Chính sách bảo mật thông tin cá nhân</a>
                        của TicketBox
                    </p>
                </div>
                <div class="auth-form__controls">
                    <button type="submit" value="Register" class="auth-form__sign-up auth-form__input" style="margin: 0 12px;">ĐĂNG KÝ</button>
                </div>
                
            </form>
            <div class="auth-text">
                    <div class="auth-text-crossbar"></div> <div class="auth-text-crossbar-text">hoặc</div> <div class="auth-text-crossbar"></div>
            </div>
            <div class="auth-form__switch">
                <div class="auth-form__switch-text">
                    Bạn đã có tài khoản? <a asp-controller="Account" asp-action="Login" class="login__page auth-form__switch-btn js-notify-list">Đăng nhập</a>
                </div>
            </div>
        </div>
    </DIV>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}