@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center" style="margin: 1vw;" >
    <h1 class="text-white">Bạn chưa vertify email? <a class="" href="@Url.Action("Index", "Email")">Vertify now </a></h1>
    <a href="@Url.ActionLink("Index", "Home")" style="text-decoration: none;"> <button style="background-color: green; border: none; padding:1vh; border-radius: 1vw; font-weight: 500; color: white;">Trở về trang Homepage</button></a>
</div>