@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="d-flex justify-content-center align-items-center text-center box-shadow" style="position: relative">
        <div class="" style="width: 100vw;">
            <button id="prev" class="d-flex align-content-center align-items-center text-center border-0" style="font-size: 40px; height: 40vh; background-color: rgba(128, 128, 128, 0.3); position: absolute; top: 0%;"><</button>
            <button id="next" class="d-flex align-content-center align-items-center text-center border-0" style="font-size: 40px; height: 40vh; background-color: rgba(128, 128, 128, 0.3); position: absolute; top: 0%; right: 0%">></button>
            <div class="banner">
                <img class="d-none" style="width: 100vw; height: 40vh;" src="https://i.ytimg.com/vi/RKDSHLlZW7g/maxresdefault.jpg" alt="Alternate Text" />
                <img class="d-none" style="width: 100vw; height: 40vh;" src="https://wallpapercave.com/wp/wp9748824.jpg" alt="Alternate Text" />
                <img class="d-none" style="width: 100vw; height: 40vh;" src="https://rare-gallery.com/livewalls/imgpreview/142533-doggie-corgi-in-front-of-the-house-live-wallpaper.jpg" alt="Alternate Text" />
            </div>

        </div>

        <script>
            let currentIndex = 0;
            const images = document.querySelectorAll('.banner img');
            const totalImages = images.length;
            images[currentIndex].classList.remove('d-none')
            const solveBanner = () => {
                const images = document.querySelectorAll('.banner img');
                const totalImages = images.length;
                images[currentIndex].classList.remove('d-none')
                document.getElementById('next').addEventListener('click', () => {
                    images[currentIndex].classList.add('d-none');
                    currentIndex = (currentIndex + 1) % totalImages;
                    images[currentIndex].classList.remove('d-none');
                    console.log('ahihi')
                })
                document.getElementById('prev').addEventListener('click', () => {
                    if (currentIndex == 0) {
                        images[currentIndex].classList.add('d-none');
                        currentIndex = totalImages - 1;
                        images[currentIndex].classList.remove('d-none');
                        console.log('ahihi')
                    } else {
                        images[currentIndex].classList.add('d-none');
                        currentIndex = currentIndex - 1;
                        images[currentIndex].classList.remove('d-none');
                        console.log('ahihi')
                    }
                })
            }

            solveBanner();

            const changeImg = () => {

                images[currentIndex].classList.add('d-none');
                currentIndex = (currentIndex + 1) % totalImages;
                images[currentIndex].classList.remove('d-none');
            }
            setInterval(() => {
                changeImg();
            }, 3000);
        </script>
    </div>
    <div>ấdf</div>
</div>
