
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container containerMyTicket">
    <div class="grid wide">
        <div class="row d-none d-md-flex headerTicketPage">
            <div class="col-12">
                <a href="/" target="" class="headerText headerLink">Trang chủ</a>
                <i class="fa-solid fa-angle-right" class="headerIcon"></i>
                <span class="headerText">Vé đã mua</span>
            </div>
        </div>
        <div class="row appContent">
            <div class="col-2 d-none d-md-block">
                <nav class="navTicketPage">
                    <div class="navTicketPage__AccountInfor">
                        <img src="" alt="" class="AccountImgMyTicket">
                        <div class="AccountInfor">
                            <span class="AccountInfor__Text">Tài khoản của</span>
                            <span class="AccountInfor__Name">Nguyễn Văn A @* Model.Name *@</span>
                        </div>
                    </div>
                    <ul class="NavigationList">
                        <li class="NavigationItem">
                            <a href="" class="NavigationLink">
                                <i class="fa-regular fa-user NavigationIcon"></i>
                                <span title="" class="NavigationText">Thông tin tài khoản</span>
                            </a>
                        </li>
                        <li class="NavigationItem">
                            <a href="" class="NavigationLink">
                                <i class="fa-solid fa-ticket NavigationIcon"></i>
                                <span class="NavigationText">Vé đã mua</span>
                            </a>
                        </li>
                        <li class="NavigationItem">
                            <a href="" class="NavigationLink">
                                <i class="fa-regular fa-calendar-days NavigationIcon"></i>
                                <span class="NavigationText">Sự kiện của tôi</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-md-10">
                <div class="ticketPageContainer">
                    <div class="headerContainer">Vé đã mua</div>
                    <div class="divider"></div>
                    <div class="Wrapper">
                        <div class="TabList">
                            <div class="TabItem">
                                <a title="Tất cả" class="TabItemLink TabItemActive" onclick="activeTab(this)">Tất cả</a>
                            </div>
                            <div class="TabItem">
                                <a title="Thành công" class="TabItemLink" onclick="activeTab(this)">Thành công</a>
                            </div>
                            <div class="TabItem">
                                <a title="Đang xử lý" class="TabItemLink" onclick="activeTab(this)">Đang xử lý</a>
                            </div>
                            <div class="TabItem">
                                <a title="Đã hủy" class="TabItemLink" onclick="activeTab(this)">Đã hủy</a>
                            </div>
                        </div>
                       <div class="EventList" style="display: flex; position: relative;">
                                <a href="#" class="EventItem active" onclick="activeUnderline(this); return false;" style="position: relative; padding-bottom: 5px; margin-right: 15px;">
                                    Sắp diễn ra
                                </a>
                                <a href="#" class="EventItem" onclick="activeUnderline(this); return false;" style="position: relative; padding-bottom: 5px;">
                                    Đã kết thúc
                                </a>
                        </div>
                    </div>
                    @if (true)
                    {
                        <div class="TicketList">
                            <div class="TicketItem">
                                <div class="TicketDate">
                                    <span class="TicketDay">26</span>
                                    <span class="TicketMonthYear">
                                        Tháng <br>10<br>2024
                                    </span>
                                </div>
                                <div class="TicketContent">
                                    <h3 class="TicketEventTitle">[Hà Nội] Vũ. - "Bảo Tàng của Nuối Tiếc" Live Concert 2024</h3>
                                    <div class="TicketStatus">
                                        <span class="StatusLabel success">Thành công</span>
                                        <span class="StatusLabel digital-ticket">Vé điện tử</span>
                                    </div>
                                    <div class="TicketDetails">
                                        <p class="TicketOrderCode">Order code: 753090200</p>
                                        <p class="TicketTime">20:00 - 22:00, 26 tháng 10, 2024</p>
                                        <p class="TicketLocation">
                                            Công viên Yên Sở (sự kiện ngoài trời)<br>
                                            QL1A Công viên, Phường Yên Sở, Quận Hoàng Mai, Thành Phố Hà Nội
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="padding-bottom: 100px;"></div>

                    }
                    else
                    {
                        <div class="TicketEmpty">
                            <div class="TicketEmpty__Container">
                                <svg width="260" height="260" viewBox="0 0 260 260" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="ticket-empty_svg__a" maskUnits="userSpaceOnUse" x="0" y="0" width="260" height="260">
                                        <circle cx="130" cy="130" r="130" fill="#C4C4C4"></circle>
                                    </mask>
                                    <g mask="url(#ticket-empty_svg__a)">
                                        <path d="M262.772 0H-3.25v260h266.022V0z" fill="#F59D5D"></path>
                                        <path d="M181.404 134.687c26.147 0 47.342-21.196 47.342-47.342 0-26.146-21.195-47.342-47.342-47.342-26.146 0-47.342 21.196-47.342 47.342 0 26.146 21.196 47.342 47.342 47.342z" fill="#FFD530"></path>
                                        <path d="M262.772 97.628H-3.25V260h266.022V97.628z" fill="#FFDDB3"></path><path d="M107.376 183.187s-3.846.531-8.62-1.371" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M-3.25 147.048s11.088 1.317 31.355-5.253c20.266-6.569 10.257 5.43 20.39 8.56 10.134 3.13 30.02-4.943 50.26-7.976 20.24-3.033 19.161 15.191 40.065 15.191 33.247 0 29.701-16.561 61.56-16.561 20.152 0 13.547 15.279 34.839 15.279 13.201 0 27.553-9.24 27.553-9.24v-15.236H-3.25v15.236z" fill="#fff"></path>
                                        <path d="M262.772 75.222H-3.25v50.366h266.022V75.222z" fill="#EE4F14"></path><path d="M-3.25 140.814s11.088 1.318 31.355-5.252c20.266-6.57 16.464 5.226 26.598 8.356 10.133 3.13 23.812-4.731 44.052-7.772 20.24-3.033 27.517 13.856 48.421 13.643 20.903-.212 19.966-11.848 51.78-13.643 22.743-1.282 27.447 8.143 34.194 10.672 11.946 4.483 29.622-6.004 29.622-6.004v-15.235H-3.25v15.235z" fill="#EE4F14"></path>
                                        <path opacity="0.5" d="M182.2 90.554c26.586 0 48.138-1.437 48.138-3.21 0-1.772-21.552-3.21-48.138-3.21s-48.138 1.438-48.138 3.21c0 1.773 21.552 3.21 48.138 3.21zM170.714 98.539c17.473 0 31.638-.974 31.638-2.175 0-1.202-14.165-2.175-31.638-2.175-17.473 0-31.638.973-31.638 2.175 0 1.201 14.165 2.175 31.638 2.175zM161.014 106.523c12.121 0 21.947-.974 21.947-2.175 0-1.201-9.826-2.175-21.947-2.175-12.121 0-21.947.974-21.947 2.175 0 1.201 9.826 2.175 21.947 2.175z" fill="#FFD530"></path>
                                        <path d="M113.823 194.452l-38.447 39.251c-.76.778-1.972-.274-1.309-1.141l29.127-37.579a.412.412 0 00-.327-.664l-16.297-.008a.426.426 0 00-.265.097L7.644 260h92.65l30.444-65.079a.41.41 0 00-.371-.584l-16.244-.009a.417.417 0 00-.3.124z" fill="#2A2D34"></path><path d="M131.534 94.091s5.217-2.325 8.975 1.238c3.758 3.564 2.935 7.596 2.369 8.701-1.096 2.149-7.551 6.057-10.204 4.156-2.944-2.113-.848-10.549-.848-10.549" fill="#FFD530"></path><path d="M131.534 94.091s5.217-2.325 8.975 1.238c3.758 3.564 2.935 7.596 2.369 8.701-1.096 2.149-7.551 6.057-10.204 4.156-2.944-2.113-.848-10.549-.848-10.549" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M133.903 147.392s3.343 8.117 3.343 15.881c-.009 10.929-3.175 15.111-4.775 19.197 0 0-.009 8.417-1.45 11.866-1.45 3.448-12.804 3.378-15.872 1.132-3.873-2.821-5.164-12.282-5.164-12.282H107.385s-.964 9.461-4.845 12.273c-3.077 2.237-14.66 2.299-16.102-1.15-1.442-3.448-1.008-11.866-1.008-11.866-1.592-4.085-4.96-8.276-4.96-19.206 0-7.763 3.36-15.88 3.36-15.88v-6.358l47.571 1.211" fill="#FFD530"></path><path d="M133.903 147.392s3.343 8.117 3.343 15.881c-.009 10.929-3.175 15.111-4.775 19.197 0 0-.009 8.417-1.45 11.866-1.45 3.448-12.804 3.378-15.872 1.132-3.873-2.821-5.164-12.282-5.164-12.282H107.385s-.964 9.461-4.845 12.273c-3.077 2.237-14.66 2.299-16.102-1.15-1.442-3.448-1.008-11.866-1.008-11.866-1.592-4.085-4.96-8.276-4.96-19.206 0-7.763 3.36-15.88 3.36-15.88v-6.358l47.571 1.211" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M108.853 145.677c-14.262.009-22.336-3.157-25.368-4.669v-3.51c2.785 1.335 11.98 5.093 25.368 5.084 13.387.009 22.583-3.749 25.369-5.084v3.51c-3.033 1.504-11.106 4.669-25.369 4.669z" fill="#2DC275" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M142.551 104.489c-6.693-17.118-24.104-18.966-33.609-18.984h-.177c-9.497.018-26.916 1.866-33.61 18.984-8.586 21.965 8.444 33 8.444 33a61.224 61.224 0 0011.39 3.678 61.744 61.744 0 0013.864 1.406 61.23 61.23 0 0013.865-1.406 61.25 61.25 0 0011.389-3.678c0 .009 17.03-11.035 8.444-33z" fill="#FFD530"></path><path d="M134.195 137.497c-2.785 1.335-11.963 5.093-25.351 5.084-13.387-.009-22.565-3.74-25.35-5.084 0 0-17.031-11.044-8.445-33 6.729-17.225 24.334-18.993 33.795-18.984 9.462-.01 27.058 1.76 33.796 18.984 8.586 21.956-8.445 33-8.445 33z" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M96.721 161.841s1.327.362 10.39 4.324c4.58 1.998 4.271 10-2.75 11.097-6.234.981-10.646-4.227-7.64-15.421z" fill="#fff" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M128.43 143.201c2.741-.717 5.792-2.193 5.792-2.193s10.505 15.182 6.163 26.111c-4.342 10.929-20.47 11.363-23.158 5.093-2.732-6.357 2.865-11.424 11.017-13.166" fill="#FFD530"></path><path d="M128.43 143.201c2.741-.717 5.792-2.193 5.792-2.193s10.505 15.182 6.163 26.111c-4.342 10.929-20.47 11.363-23.158 5.093-2.732-6.357 2.865-11.424 11.017-13.166" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path><path d="M83.484 156.933c2.202 2.051 13.768 5.986 8.78 13.529-3.837 5.809-12.254 5.234-16.357-3.458-5.023-10.628 7.321-26.005 7.321-26.005s3.042 1.477 5.792 2.193" fill="#FFD530"></path><path d="M83.484 156.933c2.202 2.051 13.768 5.986 8.78 13.529-3.837 5.809-12.254 5.234-16.357-3.458-5.023-10.628 7.321-26.005 7.321-26.005s3.042 1.477 5.792 2.193" stroke="#2A2D34" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path opacity="0.2" d="M83.2 137.392v3.524c.106.054.222.107.337.169v.115c-.373-.168-.603-.284-.603-.284s-12.383 15.428-7.341 26.106c1.509 3.186 3.595 5.281 5.823 6.382 1.127 4.074 2.76 6.613 3.737 9.116 0 0-.444 8.45 1.012 11.912 1.446 3.462 13.075 3.409 16.163 1.154 3.888-2.832 4.865-12.32 4.865-12.32h2.609s1.296 9.497 5.184 12.329c1.607 1.172 5.441 1.749 8.965 1.553 1.039-6.133-2.494-21.161-2.494-21.161 3.027-.178 7.385.32 11.175-12.329 3.791-12.649-11.104-18.747-11.104-18.747l-.524-3.506c9.374-4.421 13.226-16.706 11.841-25.431-1.526-9.622-10.385-24.588-32.851-23.523-10.412.48-17.948 3.835-23.052 7.297a30.007 30.007 0 00-2.201 4.509c-8.62 22.049 8.477 33.127 8.477 33.127" fill="#000"></path>
                                    </g>
                                    <g clip-path="url(#ticket-empty_svg__clip0)"><path opacity="0.2" d="M128.115 133.404v.106c-.349-.162-.553-.26-.553-.26" fill="#000"></path></g>
                                    <defs>
                                        <clipPath id="ticket-empty_svg__clip0">
                                            <path fill="#fff" d="M127.562 133.25h.552v.26h-.552z"></path>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div class="TicketEmpty__Text">Bạn chưa có vé nào</div>
                            </div>
                            <div class="TicketEmpty__Footer">
                                <a href="/" class="TicketEmpty__Link" style="color:white;">Mua vé ngay</a>
                            </div>
                        </div>
                    }
                    <div class="NavigationMobile d-block d-sm-none">
                        <ul class="NavListMobile">
                            <li class="NavItemMobile">
                                <i class="fa-solid fa-t NavIcon"></i>
                                <a href="" class="NavLink">Trang chủ</a>
                            </li>
                            <li class="NavItemMobile">
                                <i class="fa-solid fa-ticket NavIcon"></i>
                                <a href="" class="NavLink">Vé của tôi</a>
                            </li>
                            <li class="NavItemMobile">
                                <i class="fa-regular fa-user NavIcon"></i>
                                <a href="" class="NavLink">Tài khoản</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style> 

    .grid {
        width: 100%;
        display: block;
        padding: 0;
    }

    .grid.wide {
        max-width: 1200px;
        margin: 0 auto;
     }

    html {
        line-height: 16px;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box;
    }


    body {
        margin: 0;
    }

    .containerMyTicket {
        max-width: 100%;
        padding: 32px 0;
        background-color: #27272a;
    }

    .headerTicketPage {
        padding: 0 0 32px 0;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }

    .headerLink {
        color: #ddd;
        text-decoration: none;
    }

    .headerIcon {
        color: #eee;
    }

    .navTicketPage__AccountInfor {
        display: flex;
        color: #fff;
    }

    .AccountImgMyTicket {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        object-fit: cover;
    }

    .AccountInfor {
        font-size: 12px;
    }

    .navTicketPage__AccountInfor {
        display: flex;
        flex-direction: row;
        gap: 18px;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .AccountInfor__Text {
        display: inline-block;
        font-weight: 400;
        line-height: 21px;
        width: 150px;
    }

    .AccountInfor__Name {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        width: 150px;
    }

    .NavigationList {
        padding: 0;
        list-style-type: none;
        margin: 16px 0;
    }

    .NavigationLink {
        text-decoration: none;
    }

    .NavigationItem {
        padding: 4px 8px;
    }

    .NavigationIcon {
        margin-right: 8px;
        font-size: 12px;
        color: #fff !important;
    }

    .NavigationText {
        font-size: 12px;
        color: #fff !important;
    }

    .ticketPageContainer {
    }

    .headerContainer {
        text-align: left; /* Căn trái cho tiêu đề */
        font-size: 24px; /* Kích thước chữ */
        font-weight: bold; /* Đậm chữ */
        line-height: 24px; /* Chiều cao dòng */
        padding-bottom: 10px; /* Khoảng cách dưới tiêu đề */
        background: transparent; /* Nền trong suốt */
        color: rgb(255, 255, 255); /* Màu chữ trắng */
    }

    .divider {
        width: 100%; /* Chiều rộng đầy đủ */
        height: 1px; /* Chiều cao đường kẻ */
        background-color: rgb(56, 56, 61); /* Màu đường kẻ */
    }

    .Wrapper {
        padding: 15px; /* Khoảng cách bên trong Wrapper, có thể điều chỉnh */
    }

    /* TabList */
    .TabList {
        display: flex; /* Sử dụng flexbox cho danh sách tab */
        justify-content: space-between; /* Phân bổ không gian đều giữa các phần tử */
        align-items: center; /* Căn giữa theo chiều dọc */
        list-style: none; /* Xóa dấu đầu dòng */
        overflow: auto hidden; /* Xử lý tràn */
        white-space: nowrap; /* Không cho xuống dòng */
    }

    .TabItem {
        background-color: #5d6169; /* Màu nền cho tab */
        border-radius: 30px; /* Bo tròn các góc */
        flex: 0 0 auto; /* Không cho tab co giãn */

        margin: 0 2px 0;
        width: 210px;
        height: 29px;
    }

    a.TabItemLink {
        color: #2a2d34 !important; /* Màu chữ cho liên kết */
        width: 100%; /* Chiều rộng đầy đủ */
        height: 100%; /* Chiều cao đầy đủ */
        border-radius: 30px; /* Bo tròn góc */
        display: flex; /* Sử dụng flexbox để căn giữa nội dung */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        font-weight: bold; /* Đậm chữ */
        font-size: 14px; /* Kích thước chữ */
        line-height: 21px; /* Chiều cao dòng */
        text-decoration: none; /* Xóa gạch chân */
        cursor: pointer; /* Con trỏ chuột khi hover */
        transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền khi hover */
    }

    .TabItemActive {
        background-color: rgb(45, 194, 117); /* Màu nền cho tab đang hoạt động */
    }

    .EventList {
        display: flex; /* Sử dụng flexbox cho danh sách sự kiện */
        justify-content: center; /* Căn giữa */
        margin: 16px 0 0; /* Khoảng cách trên */
    }

    .EventItem {
        display: block; /* Hiển thị dạng khối */
        position: relative; /* Để sử dụng cho pseudo-element */
        color: #fff; /* Màu chữ cho sự kiện */
        font-size: 16px; /* Kích thước chữ */
        transition: color 0.3s; /* Hiệu ứng chuyển màu chữ khi hover */
        margin: 16px 8px 16px;
        text-decoration: none;
        font-weight: normal;
    }

        .EventItem.active {
            font-weight: bold;
        }

            .EventItem.active::after {
            content: ""; /* Tạo pseudo-element */
            width: 25px; /* Chiều rộng của đường kẻ */
                height: 2px;
                background-color: rgb(45, 194, 117); /* Màu sắc đường kẻ */
                position: absolute;
                bottom: -5px; /* Khoảng cách bên dưới */
                left: 50%; /* Canh giữa */
                transform: translateX(-50%); /* Điều chỉnh vị trí về giữa */
        }

        /* Thêm hiệu ứng hover cho EventItem */
        .EventItem:hover {
            font-weight: bold;
            color: rgb(45, 194, 117); /* Chuyển màu chữ khi hover */
        }

    .TicketEmpty__Container {
        display: block;
        height: auto;
        margin-top: 80px;
        text-align: center;
    }

    .TicketEmpty__Img {
        border-radius: 50%;
        width: 260px;
        height: 260px;
        object-fit: cover;
    }

    .TicketEmpty__Text {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;
        color: rgb(175, 184, 201);
    }

    .TicketEmpty__Footer {
        padding: 80px 0 0;
        display: flex;
        justify-content: center;
    }

    .TicketEmpty__Link {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        width: 150px;
        height: 40px;
        background-color: rgb(45, 194, 117);
        margin-top: 80px;
        border-radius: 4px;
    }

    .TicketList {
        margin-top: 20px;
    }

    .TicketItem {
        display: flex;
        background-color: #333;
        color: white;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .TicketDate {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #444;
        padding: 10px;
        border-radius: 8px;
        width: 80px;
        margin-right: 15px;
        text-align: center;
    }

    .TicketDay {
        font-size: 24px;
        font-weight: bold;
    }

    .TicketMonthYear {
        font-size: 14px;
    }

    .TicketEventTitle {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        color: #fff;
    }

    .TicketStatus {
        margin-top: 5px;
    }

    .StatusLabel {
        padding: 3px 8px;
        border-radius: 4px;
        font-size: 12px;
        margin-right: 5px;
        color: #fff;
    }

        .StatusLabel.success {
            background-color: #28a745;
        }

        .StatusLabel.digital-ticket {
            background-color: #17a2b8;
        }

    .TicketDetails {
        margin-top: 10px;
        font-size: 14px;
    }

    .TicketOrderCode,
    .TicketTime,
    .TicketLocation {
        margin: 2px 0;
    }

    .NavigationMobile {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        background: rgb(56, 56, 61);
        border-top: 1px solid rgb(81, 81, 88);
        width: 100%;
        height: 64px;
        position: fixed;
        bottom: 0px;
        z-index: 9;
        line-height: 1.15;
    }

    .NavListMobile {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        background-color: #38383d;
    }

    .NavItemMobile {
        color: #ccc;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        flex-wrap: wrap;
        margin-top: 8px;
        height: 29px;
        text-align: center;
    }

    .NavIcon {
        display: inline-block;
        width: 100%;
    }

    .NavLink {
        text-decoration: none;
        color: #ccc;
    }

    .TabList {
        margin: 16px 8px 0px;
    }

</style>
<script>
    function activeTab(selectedTab) {
        const tabs = document.querySelectorAll('.TabItemLink');
        tabs.forEach(tab => tab.classList.remove('TabItemActive'));

        selectedTab.classList.add('TabItemActive');
    }
    function activeUnderline(selectedLink) {
        // Xóa lớp 'active' khỏi tất cả các mục
        document.querySelectorAll('.EventItem').forEach(function (link) {
            link.classList.remove('active');
        });

        // Thêm lớp 'active' vào mục đã chọn
        selectedLink.classList.add('active');
    }
</script>